.rcard {
    .card {
        border-radius: 0px;
        border-color:#ececec ;
    }
    .card-header {
        border-bottom: 1px solid #ececec !important;
        // border-left: 5px solid #ececec;
        border-radius: 0px !important;
        padding: 10px 10px;
        font-weight: 500;
        font-size: 16px;
        background-image: linear-gradient(to right, #f9f9f9, #bfbdff);
        color: #252525 !important;
    }
}
