// Here you can add other styles
.loading-warp {
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.pagination {
  float: right;
  padding-right: 20px;
}
.table {
  td {
    .text-center {
      svg {
        display: none;
      }
    }
  }
}
button {
  svg {
    margin-right: 5px;
  }
}
.form-label {
  color: #495057 !important;
  font-weight: 550 !important;
}
