.modalContent {
  height: calc(100vh - 196px);
  overflow-y: auto;
  margin-right: 0;
  margin-left: 0;
}
.modal-large {
  display: flex !important;
  align-items: center;
  justify-content: center;
  .modal-dialog {
    min-width: calc(100% - 80px);
    margin: auto !important;
    .modal-header {
      padding: 0.5rem 1rem;
      .modal-title {
        flex: 1;
        p {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
.modal-middle {
  display: flex !important;
  align-items: center;
  justify-content: center;
  .modal-dialog {
    min-width: 80%;
    margin: auto !important;
  }
}

@media (max-width: 576px) {
  .modalContent {
    max-height: calc(100vh - 140px);
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
::-webkit-scrollbar {
  height: 6px;
  background-color: #fff;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
}
