.content-business-activities {
    margin-top: 20px;
    .rcard {
        border-radius: 0;
    }
    .VSIC {
        margin-bottom: 20px;
    }
    .famres-title {
        border: 1px solid #d8dbe0;
        width: 100px;
        padding: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        background-image: linear-gradient(to right, #f9f9f9, #bfbdff);
        margin-bottom: 2px;
    }
    .products-and-services {
        border: 1px solid #d8dbe0;
        width: 200px;
        padding: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        background-image: linear-gradient(to right, #f9f9f9, #bfbdff);
        margin-bottom: 2px;
    }
    .famres-row-header {
        border: 1px solid #d8dbe0;
        background-color: #edeff2;
        padding: 5px;
        font-weight: 600;
    }
    .famres-row-content {
        padding: 5px;
        font-weight: 400;
        background-color: #f6f6f6;
    }
    .card-body .container{
        background-color: #edeff2;
        margin-left: 0px;
    }
    .naics-title {
        font-weight: 600;
        padding: 5px;
    }
    .naics-content {
        font-weight: 400;
        padding: 5px;
    }
    .NAICS .container, .container-registered-business-activities {
        background-color: #f6f6f6;
    }
}