.content-banker {
    margin-top: 20px;
    .rcard {
        border-radius: 0;
    }
    .table th, .table td {
        padding: 0.4rem;
    }
    .table-suppliers  th {
        text-align: center;
        font-weight: 400;
        border-bottom: 0;
    }
    .collaterals-description th {
        font-style: italic;
        text-align: center;
    }
    .table-suppliers  {
        th, tr {
            text-align: center;
        }
    }
    .banker-name {
        font-weight: 600;
    }
    .column-title {
        width: 20%;
    }
}