.info-analysis {
  .nav-tabs {
    margin-bottom: 20px;
    .nav-item {
      border-radius: 0px;
      border: 1px solid #eeeeee;
      margin-right: 5px;
      margin-bottom: 5px;
      color: #6c757d;
      font-weight: 500;
      // background-color: #f7f7f9;
    }
    .active {
      background-image: linear-gradient(to right, #f9f9f9, #bfbdff) !important;
      color: #6c757d;
      border-left: 5px solid #39f !important;
    }
  }
}
#gauge-chart5 {
  margin: 0 auto;
}
.box-note-chart {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  .box-avg-ind {
    width: 15px;
    background-color: #58a6ff;
    margin-right: 10px;
    font-size: 6px;
  }
  .box-avg-business {
    width: 15px;
    margin-left: 5%;
    background-color: rgb(63, 62, 62);
    margin-right: 10px;
    font-size: 6px;
  }
}
