.home-content{
    // background-color: #ffffff;
    background-color: #eaf1f6;
    background-image: linear-gradient(#e7eff4,#fdfefe);
}
.home-container {
    padding: 10px;
}
.input-search{
    height:  calc(2em + 0.75rem + 2px);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-search{
    color: #fff;
    background: #00a9ff;
    border: #00a9ff;
    background-image: linear-gradient(to right,#00a9ff,#9896e8);
    padding: 0.375rem 1.25rem;
}
.c-main {
    padding-top: 10px;
}
.icon-search {
    color: #ffffff;
}
@media (min-width: 768px){
.c-main > .container-fluid, .c-main > .container-sm, .c-main > .container-md, .c-main > .container-lg, .c-main > .container-xl, .c-main > .container-xxl {
    padding-right: 10px;
    padding-left: 10px;
}
}
.home-header-hr {
    border-color: #d8dbe0;
    height: 1px;
    box-shadow: 0 2px 4px 0 rgb(253 247 247 / 30%), 0 2px 10px 0 rgb(61 78 71 / 10%);
    box-sizing: border-box;
}
.home-header-search {
    padding-left: 0px;
}
.home-header-search input, .btn-search {
    border-radius: 0px;
}
.home-header-search .input-group{
    box-shadow: 0 2px 4px 0 rgb(253 247 247 / 30%), 0 2px 10px 0 rgb(61 78 71 / 10%);
    box-sizing: border-box;
}
.body-card {
    background-color: #fefeff;
}
.card-body {
    box-shadow: 0 2px 4px 0 rgb(253 247 247 / 30%), 0 2px 10px 0 rgb(61 78 71 / 10%);
    box-sizing: border-box;
}
.card {
    border-radius: 0px;
}
.card-title {
    color: #1b6c8c;
}
.card-title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.card-text {
    color: #313030;
    margin-bottom: 0.5rem;
}
.row-pagination {
    width: 100%;
    nav {
        width: 100%;
        ul.pagination {
            margin:0 auto;
            width:100%;
            text-align:center;
            display: block;
            .active{
                .page-link{
                    border-color: #00a9ff;
                    background-color: #00a9ff;
                }
            }
            li.page-item {
                list-style:none;
                display:inline-block;
            }
        }
    }
}