.content-business-bod {
    padding: 30px 0;
    .row {
        .card {
            
            .card-body {
                padding: 1.25rem 0rem;
                .table thead> tr {
                    background-color: rgba(0, 0, 21, 0.075);
                }
                .table thead th {
                    border-bottom: 1px solid #d8dbe0;
                }
                .table th, .table td {
                    padding: 0.5rem;
                }
            }
        }
        
    }
}