.content {
  margin-top: 20px;
  .rcard {
    border-radius: 0;
  }
  .bold {
    font-weight: 700;
  }
  .value {
    text-align: center;
    height: 35px;
  }
  .addper {
    background-color: #f2f2f2;
  }
  .name {
    font-size: 0.875rem !important;
  }
  .tr-header {
    background-color: #ececec;
  }
  .table th,
  .table td {
    padding: 0.4rem;
    display: table-cell;
    vertical-align: inherit;
    font-size: 12px;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  .text-italic {
    font-style: italic;
  }
  .table-balance-sheet {
    .td-unit {
      text-align: right;
      b {
        font-weight: 400;
        font-style: italic;
      }
    }
  }
  .table-title-center {
    text-align: center;
    font-weight: 700;
  }
  .tbl-header {
    td {
      background-color: #ececee;
    }
  }
}
.modal-business {
  th {
    border-top: none;
  }
}
.row-pagination {
  justify-content: center;
}
.business-name {
  background: #eeeeee;
  font-weight: 500;
}
.item-name {
  padding-left: 1.4rem;
}
.transparent {
  background-color: transparent;
  border-color: transparent;
  &:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
  }
}

.agrid-header {
  align-items: center;
  justify-content: center;
  display: flex;
}

.action {
  text-align: center !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  div {
    display: block;
    margin: auto;
  }
}
.header {
  align-items: center;
  justify-content: center;
  display: flex;
}
.custom {
  height: 100%;
  min-height: 40px !important;
}
.empty {
  margin-left: 10;
  font-size: 14;
  margin-top: 120;
}

.ag-theme-alpine {
  .ag-header-cell {
    border-right: 1px solid var(--ag-header-column-resize-handle-color, rgba(186, 191, 199, 0.5)) !important;
    .ag-react-container {
      width: 99%;
    }
  }
  .ag-header-group-cell {
    border-right: 1px solid var(--ag-header-column-resize-handle-color, rgba(186, 191, 199, 0.5)) !important;
  }
  .ag-cell-value {
    padding: 0.4rem;
  }
  span.ag-cell-value {
    width: 100%;
    word-break: normal !important;
  }

  .ag-cell {
    padding-left: 5px !important;
  }
}
.fade {
  z-index: 1060;
}
.category {
  .custom-control-label {
    font-weight: 500;
    font-size: 15px;
  }
}

.data {
  margin: 10px;
}
.col-chitieu {
  padding: 3px;
}
.modal-content {
  .custom-control {
    padding-left: 2.5rem !important;
  }
  .chitieu-parent {
    border: 1px solid #d8dbe0;
    padding-top: 10px;
    margin-bottom: 5px;
    background: aliceblue;
  }
}
.name-custom {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
