.content {
    margin-top: 20px;
    .rcard {
        border-radius: 0;
    }
    .bold {
        font-weight: 700;
    }
    .value {
        text-align: center;
        height: 35px;
    }
    .addper {
        background-color: #f2f2f2;
    }
    .name {
        font-size: 0.875rem !important;
    }
    .tr-header {
        background-color: #ececec;
    }
    .table th, .table td {
        padding: 0.4rem;
        display: table-cell;
        vertical-align: inherit;
        font-size: 12px;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-italic {
        font-style: italic;
    }
    .table-balance-sheet  {
        .td-unit {
            text-align: right;
            b {
                font-weight: 400;
                font-style: italic;
            
            }
        }
    }
    .table-title-center {
        text-align: center;
        font-weight: 700;
    }
    .tbl-header {
        td{
            background-color: #ececee;
        }
    }
}
