.content-historical{
    padding: 30px 0;
    .container {
        padding: 0px;
    }
    .mb-2, .my-2 {
        margin-bottom: 1rem!important;
    }
    
    .card-body-title {
        font-weight: 500;
        font-size: 14px;
        padding-top: 1px;
    }
    .card-body p {
        margin-bottom: 0.5rem;
    }
    .card-text {
        font-size: 13px;
    }
    .text-date{
         font-weight: 400;
    }
    

.card-body {
    max-height: 300px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bcb5ff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}