#controlled-tab-example-tabpane-SummaryOFS {
    .nav-tabs {
        a {
            color: #495057;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
            border-radius: 0px;
            border: 1px solid #eeeeee;
            margin-right: 5px;
            margin-bottom: 5px;
            font-weight: 500;
        }
        .active {
            background-image: linear-gradient(to right, #f9f9f9, #bfbdff) !important;
            border-left: 5px solid #39f !important;
        }
    }
}
.p30 {
    border: none!important;
}