.content {
  margin-top: 20px;
  .rcard {
    border-radius: 0;
  }
  .bold {
    font-weight: 700;
  }
  .value {
    text-align: center;
    height: 35px;
  }
  .addper {
    background-color: #f2f2f2;
  }
  .name {
    font-size: 0.875rem !important;
  }
  .tr-header {
    background-color: #ececec;
  }
  .table th,
  .table td {
    padding: 0.4rem;
    display: table-cell;
    vertical-align: inherit;
    font-size: 12px;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-italic {
    font-style: italic;
  }
  .table-balance-sheet {
    .td-unit {
      text-align: right;
      b {
        font-weight: 400;
        font-style: italic;
      }
    }
  }
  .table-title-center {
    text-align: center;
    font-weight: 700;
  }
  .tbl-header {
    td {
      background-color: #ececee;
    }
  }
}
.modal-business {
  th {
    border-top: none;
  }
}
.row-pagination {
  justify-content: center;
}
.business-name {
  background: #eeeeee;
  font-weight: 500;
}
.item-name {
  padding-left: 1.4rem;
}
.transparent {
  background-color: transparent;
  border-color: transparent;
  &:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
  }
}

.dv-grid {
  width: '100%';
  height: calc(100vh - 180px);
}
.ag-theme-alpine .ag-cell {
  line-height: 1.5rem !important;
  font-size: 12px;
  // padding-left: 5px !important;
  padding-right: 5px !important;
}
.ag-theme-alpine .ag-ltr .ag-cell {
  border-right: 1px solid var(--ag-header-column-resize-handle-color, rgba(186, 191, 199, 0.5)) !important;
}

.ag-theme-alpine .ag-header-cell-resize::after {
  width: 1px !important;
  height: 100% !important;
  top: 0 !important;
  background-color: transparent !important;
}
