.content-business-group {
    padding: 30px 0;
    .row {
        .card {
            
            .card-body {
                padding: 1.25rem 0rem;
                .table thead> tr {
                    background-color: rgba(0, 0, 21, 0.075);
                }
                .table thead th {
                    border-bottom: 1px solid #d8dbe0;
                }
                .table th, .table td {
                    padding: 0.5rem;
                }
            }
        }
        
    }
    .remark{
        font-style: italic;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: -0.6rem;
    }
    .chart-name{
        text-align: center;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 500;
    }
    .pagination {
        float: right;
        padding-right: 20px;
    }
}
.card {
    border-radius: 0px!important;
}