﻿@model LoginViewModel
<link href="~/css/util.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<title>Login</title>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-route="Login" autocomplete="off">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <span class="login100-form-title p-b-43" id="loginto">
                        Login to continue
                    </span>
                    <partial name="_ValidationSummary" />

                    <div class="input-group mb-3">
                        <input class="form-control" placeholder="Tài khoản" asp-for="Username" autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="iconify" data-icon="mdi:account-key" data-inline="false" data-width="24" data-height="24"></span>
                            </div>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Mật khẩu" asp-for="Password" autocomplete="off">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="iconify" data-icon="mdi:form-textbox-password" data-inline="false" data-width="24" data-height="24"></span>
                            </div>
                        </div>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" name="button" value="login">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
                            or sign up using
                        </span>
                    </div>

                    <div class="login100-form-social flex-c-m">
                        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('/images/bg-02.jpg');">
                </div>
            </div>
        </div>
    </div>

</body>