
.info-ratio {
    .nav-tabs {
        margin-bottom: 20px;
        .nav-item {
            border-radius: 0px;
            border: 1px solid #eeeeee;
            margin-right: 5px;
            margin-bottom: 5px;
            color: #6c757d;
            font-weight: 500;
            // background-color: #f7f7f9;
        }
        .active
        {
            background-image: linear-gradient(to right, #f9f9f9, #bfbdff)!important;
            color: #6c757d;
            border-left: 5px solid #39f!important;
        }
    }
}
.content-business-per{
    padding: 30px 0;
    .thread-th {
        vertical-align: middle; 
        overflow: hidden;
    }
    .per-12 {
        width: 12%;
    }
}
.content-data-detail {
    margin-top: 20px;
    th {
        font-weight: 600;
        background-color: #eeeeee;
    }
    td {
        background-color: #ffffff;
        display: table-cell;
        vertical-align: inherit;
        padding: 0.5rem;
    }
    .table-bordered thead th, .table-bordered thead td {
        border-bottom-width: 1px;
    }
    .data-comment {
        font-style: italic;
    }
    p {
        margin-bottom: 0px;
    }
}
.chart-ratio {
    margin-top: 20px;
}