.content-business-address {
    margin-top: 20px;
    .rcard {
        border-radius: 0;
    }
    .card-body {
        padding: 1.25rem 1rem;
        .row {
            padding: 10px 0;
            .card-body-title {
                font-weight: 500;
            }
        }
        .row-one {
            background-color: #f4f4f6;
        }
    }
    .content-map {
        border: 1px solid #d8dbe0;
    }
}