.content {
    padding: 30px 0;
}
.b-info {
    .scrollbar {
        overflow: auto;
    }
    .mb-2, .my-2 {
        margin-bottom: 0rem!important;
    }
    .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
    }
    .small-box {
        display: block;
        margin-bottom: 10px;
        position: relative;
    }
    .bg-white {
        background-color: #fff;
        color: #1f2d3d!important;
    }
    .small-box>.inner {
        padding: 10px;
    }
     .item_slide .inner_1 {
        background-color: #dae8fc;
    }
    .item_slide .inner {
        border-radius: 5px;
        min-height: 130px;
    }
     .item_slide .inner .head_box {
        text-align: center;
        padding: 6px;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .item_slide .inner .count_total {
        text-align: center;
        font-size: 2rem;
        color: #007fff;
        line-height: 1.25;
    }
    
    .col-lg-2_5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .card-toogle:first-child, .giam_doc .card-toogle {
        margin-bottom: 10px!important;
    }
    .card-header {
        background-color: #fff!important;
        border-bottom: none!important;
        color: #000!important;
    }
    .card-toogle>.card-header {
        background-color: #f0f2f5;
        padding: .45rem 1em;
        margin-bottom: 0!important;
    }
    .card-header:first-child {
        border-radius: .25rem .25rem 0 0;
    }
    .card-header .card-title {
        text-transform: uppercase;
        max-width: calc(100% - 34px);
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-toogle>.card-header .card-title {
        font-weight: 500;
    }
    .card-title {
        font-size: 1rem;
    }
    .card-title {
        float: left;
        margin: 0;
    }
    .card-header>.card-tools {
        float: right;
        margin-right: -.625rem;
    }
    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 700;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    .collapse {
        padding-top: 15px;
        max-height: 300px;
        background: white;
        overflow-y: auto;
    }
    .form-control-static {
        border-bottom: 1px dotted #dee2e6;
        min-height: 21px;
    }
    .form-group {
        margin-bottom: .5rem;
    }
    ::-webkit-scrollbar {
        width: 5px;
      }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #ebedef; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
      .rating {
        margin-bottom: 10px;
        .title {
            text-align: center;
            font-size: 1rem;
        }
        .body {
            text-align: center;
            font-size: 1.15rem;
            color: #0a6ad2;
            font-weight: 500;
        }
        .more {
            text-align: end;
            font-size: .7rem;
            font-style: italic;
        }
      }
      .rating-detail {
        background: #d3e8ff;
        text-align: center;
        padding: .35rem;
        font-size: .85rem;
        color: #247cd4;
      }
      .line-detail {
          margin-top: 15px;
      }
      .todo-list {
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 0;
        li {
            border-radius: 2px;
            // background: #f8f9fa;
            border-bottom: 1px dotted #dee2e6;
            color: #495057;
            margin-bottom: 2px;
            padding: 10px 0;
            display: flex;
            align-items: center;
            .text {
                display: inline!important;
                flex: 1 1;
                min-width: 1px;
                white-space: nowrap;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .no-record {
            color: #495057 !important;
            margin-bottom: 1rem;
        }
      }
    
      .badge {
        font-size: 0.75rem;
        margin-left: 10px;
      }
      .contact {
          .address{
            font-size: 1rem;
            margin-bottom: 5px;
          }
          .phone{
            font-size: 1rem;
          }
          .mail {
            font-size: 1rem;
          }
          .iconify {
              margin-right: 5px;
          }
      }
      .card-dashboard-two {
        height: 120px;
        border-radius: 0;
        border-color: #cdd4e0;
        background-color: hsla(0,0%,100%,.5);
        .card-header {
            background-color: transparent;
            padding: 20px 20px 0;
            h6 {
                font-size: 24px;
                color: #1c273c;
                display: flex;
                align-items: baseline;
                margin-bottom: 2px;
                line-height: 1;
                letter-spacing: -1px;
                small {
                    font-size: 12px;
                    font-weight: 400;
                    margin-left: 5px;
                    color: #7987a1;
                    letter-spacing: normal;
                }
                .iconify {
                    margin-left: 10px;
                    font-size: 24px;
                    color: #3bb001;
                }
            }
            p {
                margin-bottom: 0;
                margin-top: 3px;
                font-size: 13px;
            }
        }
        .card-header:first-child {
            border-radius: 0;
        }
    }
    .type {
        text-align: right;
        font-size: 11px;
        font-style: italic;
    }
}
