.az-dashboard-one-title {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 5px;
}
.az-dashboard-title {
    font-size: 22px;
    font-weight: 500;
    color: #1c273c;
    letter-spacing: -1px;
    margin-bottom: 3px;
}
.az-dashboard-text {
    font-size: 13px;
    margin-bottom: 0;
    font-style: italic;
    padding-left: 0px!important;
}
.az-content-header-right {
    display: flex;
    align-items: center;
}
.media {
    display: flex;
    align-items: flex-start;
}
.media-body {
    flex: 1 1;
}
.az-content-header-right .media label {
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #97a3b9;
}
.az-content-header-right .media h6 {
    color: #1c273c;
    margin-bottom: 0;
    font-weight: 550;
}

.h6, h6 {
    font-size: .875rem;
}
.az-dashboard-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cdd4e0;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.az-dashboard-nav .nav:first-child .nav-link:first-child, .az-dashboard-nav .nav:first-child .nav-link:last-child {
    display: block;
}
.az-dashboard-nav .nav:first-child .nav-link:first-child {
    padding-left: 0;
}
.az-dashboard-nav .nav:first-child .nav-link.active, .az-dashboard-nav .nav:first-child .nav-link:focus, .az-dashboard-nav .nav:first-child .nav-link:hover {
    color: #5b47fb;
}
.az-dashboard-nav .nav-link {
    font-size: .875rem;
    padding: 5px 15px 10px;
    display: flex;
    align-items: center;
    line-height: 1;
}
.az-dashboard-nav .nav:first-child .nav-link {
    color: #1c273c;
}
.az-dashboard-nav .nav-link+.nav-link {
    border-left: 1px solid #cdd4e0;
}
.az-dashboard-nav .nav:last-child .nav-link i {
    font-size: 16px;
    margin-right: 7px;
    line-height: 0;
}
.az-dashboard-nav .nav:last-child .nav-link:last-child {
    display: none;
}
.az-content-header-right .media+.media {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #cdd4e0;
}
.p30{
    margin-bottom: 5px;
    margin-top: 10px;
}

.nav.flex-column .nav-link {
    // color: #6c757d;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: 500;
}
.card, .nav-tabs { 
    border-radius: 0px!important;
    a {
        border-radius: 0px!important;
        font-weight: 500;
        color: #495057;
    }
    .active {
        color: #321fdb!important;
    }
    .card-body, .card-header {
        color: #495057!important;
    }
    
    .form-group {
        label {
            color: #495057!important;
            font-weight: 550!important;
        }
    }
    p {
        color: #495057!important;
    }
    .address, .phone, .mail {
        color: #495057!important;
    }
    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(150, 140, 140);
    background-color: #39f;
    color: #fff!important;
}
.select-text {
    font-weight: 500;
}
.download-report {
    margin-top: 18px;
    padding: 0px;
    text-align: right;
    Button {
        font-weight: 500;
        background-color: #2eb85c;
        color: #fff;
    }
    Button:hover {
        font-weight: 500;
        background-color: #fff;
        color: #2eb85c;
    }
}
.card-info {
    padding: 15px;
}
.c-main {
    padding-top: 0px!important;
}
.header-info {
    border: 1px solid #d8dbe0!important;
}
.menu-right {
    .nav-item:hover{
        a {
            background-color: #39f;
            color: #fff;
        }
    }
}